[<a href="{% url 'index' %}">inicio</a>][<a href="{% url 'index' %}">parroquias</a>][<a href="{% url 'listar_barrios' %}">barrios</a>][<a href="{% url 'index' %}">Crear parroquias</a>][<a href="{% url 'crear_barrio' %}">Crear barrios</a>]
<h1>Listado de Barrios</h1>

<p>Total de barrios: {{ numero_barrios }}</p>

<ul>
    {% for barrio in barrios %}
    <li>
        {{ barrio.nombre }}
        - Viviendas: {{ barrio.num_viviendas }}
        - Parques: {{ barrio.num_parques }}
        - Edificios: {{ barrio.num_edificios_residenciales }}
        - Parroquia: {{ barrio.parroquia.nombre }}
    </li>
    {% endfor %}
</ul>

[<a href="{% url 'crear_barrio' %}">agregar Barrio</a>]