[<a href="{% url 'index' %}">Parroquias</a>][<a href="{% url 'listar_barrios' %}">Barrios</a>][<a
    href="{% url 'crear_parroquia' %}">Crear parroquias</a>][<a href="{% url 'crear_barrio' %}">Crear barrios</a>]
<h1>Listado de Barrios</h1>

<p>Total de barrios: {{ numero_barrios }}</p>

<ul>
    {% for barrio in barrios %}
    <li>
        {{ barrio.nombre }}
        - Viviendas: {{ barrio.num_viviendas }}
        - Parques: {{ barrio.num_parques }}
        - Edificios: {{ barrio.num_edificios_residenciales }}
        - Parroquia: {{ barrio.parroquia.nombre }}
        [<a href="{% url 'editar_barrio' barrio.id %}">Editar</a>]
    </li>
    {% endfor %}
</ul>

[<a href="{% url 'crear_barrio' %}">agregar Barrio</a>]