[<a href="{% url 'index' %}">inicio</a>][<a href="{% url 'index' %}">parroquias</a>][<a href="{% url 'listar_barrios' %}">barrios</a>][<a href="{% url 'index' %}">Crear parroquias</a>][<a href="{% url 'crear_barrio' %}">Crear barrios</a>]
<h3>Número de parroquias registradas: {{ numero_parroquias }}</h3>
[<a href="{% url 'crear_parroquia' %}">Crear Parroquia</a>]

<ul>
    {% for parroquia in parroquias %}
    <li>
        <strong>{{ parroquia.nombre }}</strong> ({{ parroquia.tipo }} - {{ parroquia.ubicacion }})
        <a href="{% url 'editar_parroquia' parroquia.id %}">Editar</a>
        <ul>
            <li>
                <strong>Total de parques en la parroquia:</strong> {{ parroquia.total_parques }}
            </li>
            <li>
                <strong>Profesiones de los presidentes:</strong> {{ parroquia.profesiones_presidentes }}
            </li>
            <li>
                <strong>Listado de Barrios:</strong>
                <ul>
                    {% for barrio in parroquia.mis_barrios.all %}
                    <li>
                        {{ barrio.nombre }} - Parques: {{ barrio.num_parques }}
                        - Viviendas: {{ barrio.num_viviendas }}
                    </li>
                    {% empty %}
                    <li>
                        <em>No hay barrios registrados para esta parroquia.</em>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <br />
    </li>
    {% endfor %}
</ul>

[<a href="{% url 'index' %}">Listar Parroquias</a>] [<a href="{% url 'index' %}">Listar Barrios</a>]
[<a href="{% url 'crear_parroquia' %}">Crear Parroquia</a>] [<a href="{% url 'index' %}">Crear Barrio</a>]
